<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yusron</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="h-screen w-full flex justify-center items-center flex-col" id="app">
        <img :src="imgUser" class="rounded-full"/> 
        <h1> {{ nameUser }} {{lastname}}</h1>
        <button @click="generateUser">Generate</button>
        
    </div>


    <script src="./index.js"></script>
  </body>
</html>
    <!-- <img id="img" />
      <ul v-for="(kegiatan,index) in dataKegiatan" :key="index">
          <li class="bg-blue-300 rounded-lg p-2">
              <span @click="getDataKegiatan(kegiatan)" class="text-yellow-900 font-bold cursor-pointer">Edit</span>
              {{kegiatan}} 
              <span @click="hapusKegiatan(index)" class="text-red-900 font-bold cursor-pointer"> X </span>
          </li>
      </ul> -->
      
      <!-- <input v-model="kegiatan" class="border-2px rounded-full hover:drop-shadow-md hover:border-white focus:outline-none" type="text" id="input" placeholder="Masukan gambar"/>
    <button @click="tambahKegiatan()" id="btn-1 border-2px">Tambah Kegiatan</button>-->